.git
.gitignore
.env
.env.*
.DS_Store
.idea
.vscode
.user.ini
node_modules
vendor
public/hot
public/storage
public/upload
storage/*.key
storage/framework
storage/logs
.phpunit.result.cache
docker-compose*.yml
Dockerfile
*.md
tests
phpunit.xml
